{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags("changePassword") }}
{% endblock %}

{% block title %}{{ parent() }}Changement de mot de passe{% endblock %}

{% block content %}
    {{ form_start(form) }}

        <h1>Changement de mot de passe</h1>

        {% for alertMessage in app.flashes("errorResetPassword") %}
            <div id="passwordResetError">{{ alertMessage }}</div>
        {% endfor %}

    {{ form_end(form) }}
{% endblock %}