{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags("forgotPassword") }}
{% endblock %}

{% block title %}{{ parent() }}Mot de passe oublié{% endblock %}

{% block body %}
    <form method="post">
        {% for alertMessage in app.flashes("alert") %}
            <div class="mailIndication">{{ alertMessage }}</div>
        {% endfor %}

        {% for alertMessage in app.flashes("success") %}
            <div class="mailIndication">{{ alertMessage }}</div>
        {% endfor %}

        <h2>Mot de passe oublié</h2>

        <p id="resetPasswordIndication">
            Un lien vous sera envoyé par email.<br>
            En cliquant sur le lien qu'il contient, vous pourrez renouveler votre mot de passe.
        </p>

        <p>
            <input type="email" name="email" id="inputEmail" placeholder="Email" required autofocus>
        </p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
