{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags("login") }}
{% endblock %}

{% block title %}{{ parent() }}Connexion{% endblock %}

{% block content %}
    <section id="firstSection">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for error in app.flashes("errorNeedActivated") %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            {% for success in app.flashes("successResetPassword") %}
                <div class="alert alert-success">{{ success }}</div>
            {% endfor %}

            {% for success in app.flashes("successAccountCreated") %}
                <div class="alert alert-success">{{ success }}</div>
            {% endfor %}

            {% for success in app.flashes("successAccountActivated") %}
                <div class="alert alert-success">{{ success }}</div>
            {% endfor %}

            <h1>Connectez vous</h1>

            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre Email" required autofocus>

            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div id="checkboxContainer">
                <label>
                    <input type="checkbox" id="rememberMeCheckbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <p id="connectLinkContainer">
                <button class="commonButtonStyle" type="submit">Se connecter</button>
            </p>

            <p id="forgotPasswordLinkContainer">
                <a id="forgotPasswordLink" href="{{ path("forgotPassword") }}">Mot de passe oublié ?</a>
            </p>

            <p id="noAccountYetLinkContainer">
                <a id="noAccountYetLink" class="commonButtonStyle" href="{{ path("candidate_register") }}">Je n'ai pas encore de compte</a>
            </p>
        </form>
    </section>
{% endblock %}
