{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}Liste des offres{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags("offers") }}
{% endblock %}

{% block content %}
    <div id="loading" class="invisible">
        <div id="loadingCircle" class="invisible lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="offersPageDescription">
        <h1>Toutes nos offres</h1>
        Retrouvez sur cette page toutes les offres d'emploi du site.<br>
        Vous avez la possibilité de postuler directement à ces dernières et ainsi démarrer une nouvelle carrière !
    </div>

    <div class="row">
        <section id="leftSection" class="mobileReduced">
            {% for success in app.flashes("notice") %}
                <div class="alert alert-success">{{ success }}</div>
            {% endfor %}

            {{ form_start(form, {'attr': {'id': 'categoriesForm'}}) }}
            <div id="fieldsContainer" class="categoryContainers">
                <h3>Domaines</h3>

                <div>
                    {% for name, choices in form.category.vars.choices %}
                        <div>
                            <a href="#" class="fieldsCategoriesControllers">{{ name }} <i id="arrowMobile" class="arrowsStates fas fa-angle-up"></i></a>
                        </div>

                        <div class="fieldsCategoriesContainers reduced">
                        {% for key, choice in choices %}
                            {{ form_widget(form.category[key]) }}
                            <span class="categoriesLinks">{{ form_label(form.category[key]) }}</span>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <hr class="categoriesSeparators">

            <div id="expContainer" class="categoryContainers">
                <h3>Expérience</h3>

                <div>
                    {% for name, choice in form.experience.vars.choices %}
                            {{ form_widget(form.experience[name]) }}
                            <span class="categoriesLinks">{{ form_label(form.experience[name]) }}</span>
                    {% endfor %}
                </div>
            </div>

            <hr class="categoriesSeparators">

            <div id="salaryContainer" class="categoryContainers">
                <h3>Salaire annuel brut minimum</h3>

                <div>
                    {% for name, choice in form.salary.vars.choices %}
                        {{ form_widget(form.salary[name]) }}
                        <span class="categoriesLinks">{{ form_label(form.salary[name]) }}</span>
                    {% endfor %}
                </div>
            </div>

            <hr class="categoriesSeparators">

            <div id="typeContainer" class="categoryContainers">
                <h3>Type de contrat</h3>

                <div>
                    {% for name, choice in form.type.vars.choices %}
                        {{ form_widget(form.type[name]) }}
                        <span class="categoriesLinks">{{ form_label(form.type[name]) }}</span>
                    {% endfor %}
                </div>
            </div>

            <hr class="categoriesSeparators">

            <div id="locationContainer" class="categoryContainers">
                <h3>Recherche par localisaton</h3>

                <div>
                    {{ form_widget(form.city) }}
                    <button id="submitCitySearch"><i class="fas fa-search"></i></button>
                </div>
            </div>
            {{ form_end(form) }}
        </section>

        <div id="displayCategoriesForMobilesContainer">
            <a href="#" id="displayCategoriesForMobiles">Recherche avancée <i class="arrowsStates fas fa-angle-up"></i></a>
        </div>

        <section id="rightSection">
            {% if pagination|length > 0 %}
                {% for offer in pagination %}
                    <div class="mb-4 container d-flex bg-white offersContainers ghost">
                        <div id="businessImgContainer" class="col-md-4 d-flex">
                            <img class="card-img-top align-self-center"
                                 src="{{ offer.user.business.avatar ? "public/business_avatars/" ~ offer.user.business.avatar.name : asset("build/images/question_mark.42e63c4a.png") }}"
                                 alt="Card image cap">
                        </div>

                        <div class="col-md-8 d-flex offersInfosContainers">
                            <div class="card-body my-auto">
                                <div class=" linkOffer">
                                    <h4 class="card-title"><a href="{{ path('show_offer', {'id':offer.id}) }}">{{ offer.title }}  </a></h4>

                                    <h5>Chez <a class="offersLinks" href="#"> {{ offer.user.business.name|upper }}</a> </h5>

                                    <div class="offersCategoriesContainers">
                                        <p><i class="fas fa-user"></i> {{ offer.experience }}</p>
                                        <p><i class="fas fa-suitcase"></i> {{ offer.salary }}</p>
                                        <p><i class="fas fa-file-contract"></i> {{ offer.type }}</p>
                                        <p><i class="fas fa-map-marker-alt"></i> {{ offer.location }}</p>
                                    </div>
                                </div>

                                <p class="offersDescriptions card-text">{{ offer.description|truncate(100) }}
                                    <a class="clickToKnowMoreLinks" href="{{ path('show_offer', {'id':offer.id}) }}">En savoir plus</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div id="noOfferErrorMessageContainer">
                    Oups! Il semble que vous soyez trop séléctif et qu'aucune annonce ne corresponde à vos critères.<br>
                    Vous pouvez tenter une nouvelle recherche en revoyant ces derniers.
                </div>
            {% endif %}

            <div id="paginationContainer" class="container mt-3 d-flex justify-content-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("offers") }}
{% endblock %}
