{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags("offer") }}
{% endblock %}

{% block content %}

    <section>
            <h3>{{offer.title}}</h3>
            <div class="descriptionOffer">
                <p>{{offer.description}}</p>
            </div>

            <div class="detailOffer">
                <p>Experience : {{ offer.experience}}</p>
                <p>Salaire : {{ offer.salary}}</p>
                <p>Contrat : {{ offer.type}}</p>
            </div>
        <p> Annonce publié le : {{ offer.createdAt|date("d/m/Y") }} </p>

            {% if checkApply %}
                <div class="messageSuccessApply">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% elseif checkApply is same as(false) %}
                <div id="messageErrorApply">
                    {% for message in app.session.flashbag.get('errorHasAlreadyApply') %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% elseif is_granted('ROLE_RECRUITER') %}
                <div id="messageForRecruiter" class="alert alert-warning">
                    <p class=""> Vous ne pouvez pas postuler à une annonce car vous êtes connectés en tant que recruteur</p>
                </div>
            {% else %} 
                <p id="submitContainer">
                    <button type="submit" id="submit" class="commonButtonStyle">Postuler</button>
                </p> 
            {% endif %}
    </section>

    <section id="formApply" class="invisible">
        {% if form is not null %}
            <div>
                <p> Message de motivation vous avez 1000 caractères : </p>
                {{ form_start(form) }}
                    <div class="form-error">
                        {{ form_errors(form.motivation) }}
                    </div>
                    <div>
                        <div class="form-group">
                            {{ form_widget(form.motivation) }}
                        </div>
                    </div>
                    <p>
                        <button type="submit" id="submit" class="commonButtonStyle">Envoyer</button>
                    </p>
                {{ form_end(form)}}
            </div>
        {% else %}
            <div class="accountAction"> 
                <a id="noAccountYetLink" class="commonButtonStyle" href="{{ path("candidate_register") }}">Inscrivez-vous</a>
                <a id="noAccountYetLink" class="commonButtonStyle" href="{{ path("login") }}">Connectez-vous</a>
            </div>
        {% endif %}
        
    </section>
{% endblock  %}

{% block javascripts %}
    {{ encore_entry_script_tags("offer") }}
{% endblock %}
