{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{encore_entry_link_tags("allBusiness")}}
{% endblock %}

{% block title %}{{ parent() }} Business{% endblock %}


{% block content %}
    <div class="bodyBusinessPage">
        {% for business in pagination %}
            <div class="displayBusiness">
                <div class="businessImg">
                    <img src="https://assets.chooseyourboss.com/companies/logos/000/007/085/thumb/Dataiku_logo_circle.png?1508142513" alt="">
                </div>
                <div class="displayBusinessDetails">
                    <div class="businessName">
                        <h2> {{business.name}} </h2>
                    </div>
                    <ul class="displayUlBusinessDetails">
                        <div class="businessEmployees">{{business.employeesNumber}}<li class="separatorBusinessDetails"> &#8226;</li></div>
                        <div class="businessActivity">
                            {{business.activityArea}}
                            <li class="separatorBusinessDetails">&#8226;</li>
                        </div>
                        <div class="businessLocation">
                            {{business.location}}
                        </div>
                    </ul>
                </div>                
            </div> 
            <hr>
        {% endfor %}
    </div>
    <div class="container mt-3 d-flex justify-content-center">
        
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock  %}

{% block javascripts %}
    {{ encore_entry_script_tags("allBusiness") }}
{% endblock %}