{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('candidate_dashboard') }}
{% endblock %}

{% block title %}{{ parent() }}Profil - {{ user.firstName }}{% endblock %}

{% block content %}

<div class="container-fluid">
    {% for label, messages in  app.flashes  %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="row flex ">
        <div class="container-fluid">
            <div class="row flex ">
                <div class="col-lg-4 col-md-4 col-sm-12  flex-grow-1  heightmenu ">
                    {% include 'user/dashboard/candidate/navcandidate.html.twig' %}
                </div>    
                <div class="col-lg-8  col-md-8 col-sm-12 w-100">
                    <h1 class=" text-center  my-5"> {{ user.lastName }}-{{ user.firstName }}</h1>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="row  justify-content-around" >
                            {% if user.applications|length > 0 %}
                                {% for application in user.applications %}
                                    <div class="card col-sm-12 col-md-6 col-lg-4 " style="max-width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ application.offer.title }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ application.createdAt|date('d/m/y') }}</h6>
                                            <p class="card-text">{{ application.motivation }}</p>
                                        </div>
                                        <div class="card-footer ">
                                            <a  href="{{ path('show_offer',  {'reference': application.offer.reference}) }}"  style="width: 100%" class="btn btn-primary">Annonce</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="text-align-center">Pas des candidatures</p>
                            {% endif %}
                        </div>
                    </div>    
                </div>   
            </div>   
         </div>
    </div>
 </div>  
 {% endblock %}
 
