{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags("dashboard") }}
    {{ encore_entry_link_tags("candidateDashboardCV") }}
{% endblock %}

{% block title %}{{ parent() }}Profil - {{ user.firstName }} - Votre CV{% endblock %}

{% block content %}
    {{ include('user/dashboard/common_components/navbar.html.twig') }}

    <h1>Administrez le CV automatiquement rattaché à vos candidatures</h1>

    <div id="cvContentContainer">
        <section>
            BLABLA
        </section>

        <section>
            {% if user.cv %}
                <iframe id="cvPreviewContainer" src="{{ asset('candidate_cv/' ~ user.cv.name ) }}"></iframe>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("dashboard") }}
    {{ encore_entry_script_tags("candidateDashboardCV") }}
{% endblock %}