{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
    {{ encore_entry_link_tags('candidateDashboardProfileUpdate') }}
{% endblock %}

{% block title %}{{ parent() }}Profil - {{ user.firstName }}{% endblock %}

{% block content %}
    {% include 'user/dashboard/common_components/navbar.html.twig' %}

    {{ form_start(formProfile) }}
        <h2>Informations générales</h2>

        {% if form_errors(formProfile.firstName) or form_errors(formProfile.lastName) %}
            <div id="identityErrorsContainer" class="superContainers errorsContainers">
                <div>
                    {{ form_errors(formProfile.firstName) }}
                </div>

                <div>
                    {{ form_errors(formProfile.lastName) }}
                </div>
            </div>
        {% endif %}

        <div id="identityContainer" class="superContainers containers">
             <div>
                 {{ form_label(formProfile.firstName) }}
                 {{ form_widget(formProfile.firstName) }}
             </div>

            <div>
                {{ form_label(formProfile.lastName) }}
                {{ form_widget(formProfile.lastName) }}
            </div>
        </div>

        {% if form_errors(formProfile.birthDay) %}
            <div id="birthdayErrorsContainer" class="superContainers errorsContainers">
                <div>
                    {{ form_errors(formProfile.birthDay) }}
                </div>
            </div>
        {% endif %}

        <div id="birthdayContainer" class="superContainers containers">
            {{ form_label(formProfile.birthDay) }}
            {{ form_widget(formProfile.birthDay) }}
        </div>

        <hr class="superSeparators">

        <h2>Informations de contact</h2>


    {% if form_errors(formProfile.phoneNumber) or form_errors(formProfile.webSite) %}
        <div id="contactErrorsContainer" class="superContainers errorsContainers">
            <div>
                {{ form_errors(formProfile.phoneNumber) }}
            </div>

            <div>
                {{ form_errors(formProfile.webSite) }}
            </div>
        </div>
    {% endif %}

    <div id="contactContainer" class="superContainers containers">
        <div>
            {{ form_label(formProfile.phoneNumber) }}
            {{ form_widget(formProfile.phoneNumber) }}
        </div>

        <div>
            {{ form_label(formProfile.webSite) }}
            {{ form_widget(formProfile.webSite) }}
        </div>
    </div>

        <button class="commonButtons" type="submit">Confirmer</button>
    {{ form_end(formProfile) }}

    <div id="totalSecurityContainer">
        <a href="#" id="securityController" class="controllers">Sécurité <i class="arrows fas fa-angle-up"></i></a>

        <div id="securityContainer" class="reduced jsContainers">
            <div>
                <a href="#" id="passwordContainerController" class="controllers">Changement de mot de passe <i class="arrows fas fa-angle-up"></i></a>
            </div>

            <div id="passwordContainer" class="smallContainers jsContainers reduced">
                {{ form_start(formResetPassword) }}
                    <div class="superContainers containers specialsContainersForOldPassword">
                        <div>
                            {{ form_label(formResetPassword.oldPassword) }}
                            {{ form_widget(formResetPassword.oldPassword) }}
                        </div>
                    </div>

                    <div class="containers">
                        {{ form_label(formResetPassword.newPassword) }}
                        {{ form_widget(formResetPassword.newPassword) }}
                    </div>

                    <button type="submit" class="securityButtons">Confirmer</button>
                {{ form_end(formResetPassword) }}

                <hr class="superSeparators">
            </div>

            <div>
                <a href="#" id="deleteAccountController" class="controllers">Suppression du compte <i class="arrows fas fa-angle-up"></i></a>
            </div>

            <div id="deleteAccountContainer" class="smallContainers jsContainers reduced">
                {{ form_start(formDeleteAccount) }}
                <div class="superContainers containers">
                    <div>
                        {{ form_label(formDeleteAccount.oldPassword) }}
                        {{ form_widget(formDeleteAccount.oldPassword) }}
                    </div>
                </div>

                <button type="submit" id="dangerousButton" class="securityButtons">Supprimer mon compte</button>
                {{ form_end(formDeleteAccount) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
    {{ encore_entry_script_tags('candidateDashboardProfileUpdate') }}
{% endblock %}

