{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('candidate_dashboard') }}
{% endblock %}

{% block title %}{{ parent() }}Profil - {{ user.firstName }}{% endblock %}

{% block content %}
    {% include 'user/dashboard/candidate/common_components/navbar.html.twig' %}

    <div id="dashboardContent">
        <section id="leftSection">
            <div class="tab-content">
                <div class="imgContainer">
                    <figure id="avatarUser">
                        <button id="btnAvatarUser" type="button" class="btn btn-primary invisible" data-toggle="modal" data-target="#exampleModalCenter">
                            Changer de photo
                        </button>

                        <img src="{{ user.avatar ? asset('user_avatars/' ~ user.avatar.name) : asset('build/images/question_mark.42e63c4a.png') }}" />
                    </figure>
                </div>
            </div>
        </section>

        <section id="rightSection">
            <h1>{{ user.lastName }} {{ user.firstName }}</h1>

            <hr class="superSeparators">

            <div id="contactInformationsContainer">
                <h2>Informations générales</h2>

                <span>Email : {{ user.email }}</span>
                <span>Inscrit le : </span>
            </div>
        </section>
    </div>





                <!--
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span id="spanModal" class="close">&times;</span>
                        {{ form_start(formAvatar) }}
                            {{ form_label(formAvatar.avatarFile) }}

                            {% if form_errors(formAvatar.avatarFile) %}
                                <div id="avatarError" class="alert alert-warning">
                                    {{ form_errors(formAvatar.avatarFile)  }}
                                </div>
                            {% endif %}

                            <div class="d-flex justify-content-around">
                                <div>
                                    {{ form_widget(formAvatar.avatarFile) }}
                                </div>
                                <div>
                                    {{ form_label(formAvatar.save) }}
                                    {{ form_widget(formAvatar.save) }}
                                </div>
                            </div>
                        {{ form_end(formAvatar) }}
                    </div>
                </div>
            </div>
        </div>
            {#  add all file dashboard user  #}
        <div class="fade show">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom:</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Prénom:</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <th>Date de naissance</th>
                    <td>{{ user.birthDay ? user.birthDay|date('d-m-Y') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("candidate_dashboard") }}
{% endblock %}
