{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('candidate_dashboard') }}
{% endblock %}

{% block title %}{{ parent() }}Profil - {{ user.firstName }}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    {% for label, messages in  app.flashes  %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row flex ">
            <div class="container-fluid">
                <div class="row flex ">
                    <div class="col-lg-4  col-md-4 col-sm-12 flex-grow-1  heightmenu ">
                        {% include 'user/dashboard/candidate/navcandidate.html.twig' %}
                    </div>    
                    <div class="col-lg-8  col-md-8 col-sm-12 w-100">
                        <h1 class=" text-center  my-5"> {{ user.lastName }}-{{ user.firstName }}</h1>
                        <div >
                            <div class="" >
                                <div class="form">
                                    {{ form_start( form ) }}
            
                                    <div class="form-group">
                                        {{ form_label(form.firstName) }}
                                        {{ form_widget(form.firstName) }}
                                        <div class="errors">
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.lastName) }}
                                        {{ form_widget(form.lastName) }}
                                        <div class="errors">
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.birthDay) }}
                                        <div class="row">
                                            <div class="col">{{ form_widget(form.birthDay.day) }}</div>
                                            <div class="col">{{ form_widget(form.birthDay.month) }}</div>
                                            <div class="col">{{ form_widget(form.birthDay.year) }}</div>
                                        </div>
                                        <div class="errors">
                                            {{ form_errors(form.birthDay) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email) }}
                                        <div class="errors">
                                            {{ form_errors(form.email) }}
            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.password) }}
                                        {{ form_widget(form.password) }}
                                        <div class="errors">
                                            {{ form_errors(form.password) }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sauvegarder les changements</button>
                                    {{ form_end( form ) }}
                                </div>
                            </div>
                        </div>    
                    </div>   
                </div>   
            </div>
        </div>
    </div>  
{% endblock %}