{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block title %}
    {{ parent() }}
    Inscription
    {% if app.request.attributes.get("_route") == "candidate_register" %}
        candidat
    {% else %}
        recruteur
    {% endif %}
{% endblock %}

{% block content %}
    <section id="firstSection">
        <div>
            <h1>Inscrivez vous</h1>

            <div id="headerRegisterForm">
                {% if app.request.attributes.get("_route") == "candidate_register" %}
                    <p id="pSelected"><a id="selected" href="{{ path("candidate_register") }}">Je suis candidat</a></p>
                    <p><a href="{{ path("recruiter_register") }}">Je suis recruteur</a></p>
                {% elseif app.request.attributes.get("_route") == "recruiter_register" %}
                    <p><a href="{{ path("candidate_register") }}">Je suis candidat</a></p>
                    <p id="pSelected"><a id="selected" href="{{ path("recruiter_register") }}">Je suis recruteur</a></p>
                {% endif %}
            </div>

            {{ form_start(form) }}
            <div id="identityErrorsContainer" class="superContainers">
                <div class="field-firstNameError errorsContainer">
                    {{ form_errors(form.firstName) }}
                </div>

                <div class="field-lastNameError errorsContainer">
                    {{ form_errors(form.lastName) }}
                </div>
            </div>

            <div id="identityContainer" class="superContainers">
                <div class="field-firstName">
                    {{ form_widget(form.firstName) }}
                </div>

                <div class="field-lastName">
                    {{ form_widget(form.lastName) }}
                </div>
            </div>

            <div id="EmailErrorsContainer" class="superContainers">
                <div class="field-emailError errorsContainer">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div id="field-email" class="superContainers">
                {{ form_widget(form.email) }}
            </div>

<!--
            <div id="birthdayContainer field-birthDay">
                <div class="error">
                    {{ form_errors(form.birthDay) }}
                </div>
                <p>{{ form_label(form.birthDay) }}</p>
                <div id="birthdayInputsContainer">
                    {{ form_widget(form.birthDay.day) }}
                    {{ form_widget(form.birthDay.month) }}
                    {{ form_widget(form.birthDay.year) }}
                </div>
            </div>

            <div id="passwordContainer">
                <div class="field-password">
                    <div class="error">
                        {{ form_errors(form.password) }}
                    </div>
                    {{ form_widget(form.password) }}
                </div>
            </div>

            {% if app.request.attributes.get("_route") == "recruiter_register" %}
                <div id="businessContainer">
                    <div>
                        {{ form_errors(form.business) }}
                        {{ form_widget(form.business) }}
                    </div>
                </div>
            {% endif %}

            <div id="checkboxContainer">
                <div>
                    {{ form_widget(form.legalConditions) }}
                    <p>{{ form_label(form.legalConditions) }}</p>
                    {{ form_errors(form.legalConditions) }}
                </div>
            </div>
-->
                <p id="submitContainer">
                    <button type="submit" id="submit" class="commonButtons">Inscription</button>
                </p>
            {{ form_end(form)}}
        </div>
    </section>

    <section id="secondSection">
        <div>
            {% if app.request.attributes.get("_route") == "candidate_register" %}
            <h2>Espace Candidat</h2>

            <p id="youWill">
                Vous connecter vous offrira l'opportunité de :
            </p>

            <ul>
                <li><i class="fas fa-arrow-right"></i> Rechercher une offre en fonction de multitudes de critères qui représentent vos besoins.</li>
                <li><i class="fas fa-arrow-right"></i> Renseigner votre CV et préparer vos futurs matchings.</li>
                <li><i class="fas fa-arrow-right"></i> Postuler aux offres qui vous intéressent et faire exploser votre carrière.</li>
                <li><i class="fas fa-arrow-right"></i> Pouvoir modifier sans limite la visibilité de votre profil par les recruteurs.</li>
            </ul>

            <p class="citation">
                « On ne choisit pas sa carrière, elle s’empare de nous. »<br>
                <span class="author">John Dos Passos.</span>
            </p>
            {% elseif app.request.attributes.get("_route") == "recruiter_register" %}
            <h2>Espace Recruteur</h2>

            <p id="youWill">
                Vous connecter vous offrira l'opportunité de :
            </p>

            <ul>
                <li><i class="fas fa-arrow-right"></i> Créer et modifier des annonces pour réunir les candidats dont vous rêvez.</li>
                <li><i class="fas fa-arrow-right"></i> Contacter directement ces derniers.</li>
                <li><i class="fas fa-arrow-right"></i> Consulter l'intégralité des profils rendus publics.</li>
            </ul>

            <p class="citation">
                « Les grands leaders trouvent le moyen de se connecter avec leurs employés et de les aider à réaliser leur potentiel. »<br>
                <span class="author">Steven J. Stowell.</span>
            </p>
            {% endif %}
        </div>
    </section>

{% endblock %}