<nav id="commonNavigationBar">
    <a id="findLabTitle" href="{{ path("home") }}">FindLAB</a>

    <div id="allLinksContainer">
        <button id="mobileButton"><i class="fas fa-bars"></i></button>
        <ul id="defaultNavLinksContainer" class="mobileHidden">
        {% if currentRoute != "home" %}
            <li>
                <a class="defaultNavLinks" href="{{ path("home") }}">Accueil</a>
            </li>
        {% endif %}
            {% if currentRoute != "all_business" %}
                <li>
                    <a class="defaultNavLinks" href="{{ path("all_business") }}">Entreprises</a>
                </li>
            {% endif %}
            {% if currentRoute != "offers_index" %}
                <li>
                    <a class="defaultNavLinks" href="{{ path("offers_index") }}">Offres</a>
                </li>
            {% endif %}

            <hr class="defaultNavLinksSeparators">

        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a class="defaultNavLinks" href="{{ path("easyadmin") }}">Admin</a>
            </li>

            <hr class="defaultNavLinksSeparators">

        {% endif %}
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if currentRoute != "login" %}
                <li>
                    <a class="defaultNavLinks" href="{{ path("login") }}">Se connecter</a>
                </li>
            {% endif %}
            {% if currentRoute != "candidate_register" and currentRoute != "recruiter_register" %}
                <li>
                    <a class="defaultNavLinks importantLinks" href="{{ path("candidate_register") }}">S'inscrire</a>
                </li>
            {% elseif currentRoute == "candidate_register" %}
                <li>
                    <a class="defaultNavLinks importantLinks" href="{{ path("recruiter_register") }}">Je suis recruteur</a>
                </li>
            {% elseif currentRoute == "recruiter_register" %}
                <li>
                    <a class="defaultNavLinks importantLinks" href="{{ path("candidate_register") }}">Je suis candidat</a>
                </li>
            {% endif %}
        {% else %}
            {% if is_granted("ROLE_RECRUITER") %}
                {% if currentRoute != "offer_create" %}
                    <li>
                        <a class="defaultNavLinks" href="{{ path("offer_create" ) }}">Créer une offre</a>
                    </li>

                    <hr class="defaultNavLinksSeparators">

                {% endif %}
            {% endif %}
            {% if app.user.roles != ["ROLE_ADMIN"] %}
                {% if currentRoute != "candidate_dashboard" and currentRoute != "recruiter_dashboard" %}
                        <li class="dashboardLink">
                            <a class="defaultNavLinks" href="{{ app.user.roles == ['ROLE_RECRUITER'] ? path('recruiter_dashboard') : path('candidate_dashboard') }}">Mon Compte</a>
                        </li>
                {% endif %}
            {% endif %}
            <li>
                <a class="defaultNavLinks" href="{{ path("logout") }}">Déconnexion</a>
            </li>
        {% endif %}

            <hr class="defaultNavLinksSeparators">
        </ul>
    </div>
</nav>