<nav id="commonNavigationBar">
    <a id="findLabTitle" href="{{ path("home") }}">FindLAB</a>

    <div id="allLinksContainer">
        <button id="mobileButton"><i class="fas fa-bars"></i></button>
        <ul id="defaultNavLinksContainer" class="mobileHidden">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if app.request.attributes.get("_route") != "login" %}
                <li>
                    <a class="defaultNavLinks" href="{{ path("login") }}">Se connecter</a>
                </li>
            {% endif %}
            {% if app.request.attributes.get("_route") != "candidate_register" and
                app.request.attributes.get("_route") != "recruiter_register" %}
                <li>
                    <a class="defaultNavLinks" href="{{ path("candidate_register") }}">S'inscrire</a>
                </li>
            {% elseif app.request.attributes.get("_route") == "candidate_register" %}
                <li>
                    <a class="defaultNavLinks" href="{{ path("recruiter_register") }}">Je suis recruteur</a>
                </li>
            {% elseif app.request.attributes.get("_route") == "recruiter_register" %}
                <li>
                    <a class="defaultNavLinks" href="{{ path("candidate_register") }}">Je suis candidat</a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a class="defaultNavLinks" href="{{ path("logout") }}">Déconnexion</a>
            </li>
        {% endif %}

            <hr class="defaultNavLinksSeparators">

        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a class="defaultNavLinks" href="{{ path("easyadmin") }}">Admin</a>
            </li>

            <hr class="defaultNavLinksSeparators">

        {% endif %}
        {% if app.request.attributes.get("_route") != "offers_index" %}
            <li>
                <a class="defaultNavLinks" href="{{ path("offers_index") }}">Offres</a>
            </li>

            <hr class="defaultNavLinksSeparators">

        {% endif %}
        </ul>
    </div>
</nav>